@model IEnumerable<DotNetCoreMVCDemos.Models.AllUsersModel>
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;
@*@{ Layout = "~/Views/Shared/_Layout.cshtml";
}*@
@{ var UserId = @HttpContextAccessor.HttpContext.Session.GetString("UserId");
}
<link rel="stylesheet" href="~/lib/fonts/MaterialDesign/css/materialdesignicons.min.css">
<link rel="stylesheet" href="~/lib/vendors/perfect-scrollbar/perfect-scrollbar.css">
<link rel="stylesheet" href="~/lib/vendors/OwlCarousel2/owl.carousel.css">
<link rel="stylesheet" href="~/lib/bootstrap.min.css">
<link rel="stylesheet" href="~/lib/css/app.css">
<link rel="stylesheet" href="~/lib/css/theme/default.css">
@*<div class="tab-pane fade position-relative" id="caContacts" role="tabpanel" aria-labelledby="caContactsTab">*@
<div class="sidebar-contactlist">
    <ul class="list-unstyled userSearchList">
        <li>
            <div class="contactlist-heading">
                <span>All Contacts</span>
            </div>
        </li>
        @{int count = 0; }
        @foreach (var contact in Model)
        {
            @*<li id="liConversationId_@count" onclick="LoadContactsDetails('@contact.UserContactID')">*@
            <!-- <li id="liConversationId_@count" onclick="LoadConversationPanel('@contact.UserContactID', '@contact.UserName')"> -->
            <li id="liConversationId_@count" onclick="LoadConversationPanel('@contact.UserContactID', '@contact.UserName', '@contact.ProfileImage')">
                @*<a data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace"
                    data-ajax-update="#rdrConversationId"
                    href="@Url.Action("GetContactDetails","Chat",new {UserId=contact.UserContactID})"
                    id="ajaxConversationId_@count" style="display:none"></a>*@

                @*<div class="contactlist active">*@
                <input type="hidden" id="hdnContactUserId" value="@contact.UserContactID" />
                <input type="hidden" id="hdnUserId" value="@UserId" />
                <input type="hidden" id="hdnChatUsername" value="@contact.UserName" />
                <div class="contactlist conversation">
                    <div class="user-avatar user-avatar-rounded">
                        <!-- <img src="~/lib/images/user/250/01.jpg" alt=""> -->
                        <img src="~/lib/images/user/500/@contact.ProfileImage" alt="">
                    </div>
                    <div class="contactlist__details">
                        <div class="contactlist__details--name">@contact.UserName</div>
                        @*<div class="calllist__details--info">
                                <span><i class="mdi mdi-tag-outline"></i></span>
                                <span>Co-Workers</span>
                            </div>*@
                    </div>
                    <div class="contactlist__actions">
                        <div class="iconbox btn-solid-primary">
                            <i class="iconbox__icon mdi mdi-message-text-outline" data-dismiss="modal"></i>
                        </div>
                    </div>
                </div>
            </li>
            count++;
        }
        <input type="hidden" id="hdnCount" value="@count" />
    </ul>
</div>
@*</div>*@
<script>

    $(document).ready(function () {
        var count = $('#hdnCount').val();
        for (let i = 0; i < count; i++) {
            $('#liConversationId_' + i + '').click(function () {
                console.log('tst is :' + i);
                $('#ajaxConversationId_' + i + '')[0].click()
                //for (let j = 0; j < count; j++) {
                //    $('#activeChatId_' + j + '').removeClass("active");
                //}
                //$('#activeChatId_' + i + '').addClass("active");
            });
        }
    });

    function LoadContactsDetails(contactUserId) {
        var model = $('#rdrConversationId');
        $.ajax({
            /*url: "../Chat/ConversationPanel?UserId=" + contactUserId + "",*/
            url: "../Chat/GetContactDetails?UserId=" + contactUserId + "",
            //url: "http://50.21.182.225/aspdontnetcoredemo/Chat/PersonalChat?UserId=" + userID + "&UserName=''",
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html',
            success: function (result) {
                model.empty().append(result);
                console.log(result);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
    });
    function LoadConversationPanel(contactUserId, ChatUserName, UserProfilePic) {
        var chatUserID = $('#hdnContactUserId').val();
        var userID = $('#hdnUserId').val();
        var model = $('#rdrConversationId');
        $.ajax({
            //url: "http://50.21.182.225/aspdontnetcoredemo/Chat/ConversationPanel?UserId=" + userID + "&ChatUserId=" + chatUserID + "&ChatUserName=" + chatUserName + "&Lastseen=" + lastseen + "&Message=" + message + "&imageArr=" + imageArr + "",
            url: "../Chat/ConversationPanel?UserId=" + userID + "&ChatUserId=" + contactUserId + "&ChatUserName=" + ChatUserName + "&ProfileImage=" + UserProfilePic + "",
            contentType: 'application/html; charset=utf-8',
            type: "GET",
            dataType: 'html',
            success: function (result) {
                model.empty().append(result);
                console.log(result);
            }
        });
    }
</script>

<!-- <script>
    $(document).ready(function () {
    });
    function LoadConversationPanel(contactUserId, ChatUserName) {
        var chatUserID = $('#hdnContactUserId').val();
        var userID = $('#hdnUserId').val();
        var chatUserName = $('#hdnChatUsername').val();
        var model = $('#rdrConversationId');
        $.ajax({
            //url: "http://50.21.182.225/aspdontnetcoredemo/Chat/ConversationPanel?UserId=" + userID + "&ChatUserId=" + chatUserID + "&ChatUserName=" + chatUserName + "&Lastseen=" + lastseen + "&Message=" + message + "&imageArr=" + imageArr + "",
            url: "../Chat/ConversationPanel?UserId=" + userID + "&ChatUserId=" + contactUserId + "&ChatUserName=" + ChatUserName + "",
            contentType: 'application/html; charset=utf-8',
            type: "GET",
            dataType: 'html',
            success: function (result) {
                model.empty().append(result);
                console.log(result);
            }
        });
    }
</script> -->

@*<script src="~/lib/vendors/jquery/jquery-3.4.1.min.js"></script>
<script src="~/lib/bootstrap.bundle.min.js"></script>
<script src="~/lib/vendors/material-floating-button/dist/mfb.min.js"></script>
<script src="~/lib/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="~/lib/vendors/OwlCarousel2/owl.carousel.min.js"></script>
<script src="~/lib/js/app.js"></script>*@
