@model DotNetCoreMVCDemos.Models.ProfileInfo
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;
@*@{

        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@
@*<link rel="stylesheet" href="~/lib/fonts/MaterialDesign/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/lib/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/lib/vendors/OwlCarousel2/owl.carousel.css">
    <link rel="stylesheet" href="~/lib/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/css/app.css">
    <link rel="stylesheet" href="~/lib/css/theme/default.css">*@
<link rel="stylesheet" href="~/lib/fonts/MaterialDesign/css/materialdesignicons.min.css">
<link rel="stylesheet" href="~/lib/vendors/perfect-scrollbar/perfect-scrollbar.css">
<link rel="stylesheet" href="~/lib/vendors/OwlCarousel2/owl.carousel.css">
<link rel="stylesheet" href="~/lib/bootstrap.min.css">
<link rel="stylesheet" href="~/lib/css/app.css">
<link rel="stylesheet" href="~/lib/css/theme/default.css">

<script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<link href="~/lib/jquery-ui-1.13.0.custom/jquery-ui.min.css" rel="stylesheet" />
<script src="~/lib/jquery-ui-1.13.0.custom/jquery-ui.min.js"></script>
@{
    var UserId = @HttpContextAccessor.HttpContext.Session.GetString("UserId");
}
<div class="modal profile-dialog show" id="viewProfileModal" tabindex="-1" role="dialog" aria-labelledby="viewProfileModal" style="display: block; padding-left: 17px;" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="back2homepage" data-dismiss="modal">
                    <i class="mdi mdi-arrow-left"></i>
                    <span>Back</span>
                </div>
                <div class="profile-modal-close" data-dismiss="modal">
                    <i class="mdi mdi-close"></i>
                </div>
            </div>
            <div class="modal-body p-0">
                <div class="ca-profile-thumb" style="background-image: url(Content/images/media/07.jpg); height:210px;">
                    <div class="ca-profile-info">
                        <form id="profilephotoform" method="post" enctype="multipart/form-data" asp-controller="Chat" asp-action="UpdateProfilePicture">
                            <div class="ca-profile-pic" id="imgUserProfile">
                                @Html.HiddenFor(m => m.UserId)
                                @*<img class="img-fluid image" src="~/lib/images/user/500/05.jpg" alt="">*@
                                <img class="img-fluid image" id="imgUserProfile" src="~/lib/images/user/500/@Html.DisplayFor(modelitem=>modelitem.ProfileImage)" alt=""
                                     style="width: inherit; height: inherit;">
                                <input type="file" name="Files" id="uplodfile" style="display: none;" />
                                @*<div class="middle"> Edit</div>*@
                                <input type="submit" value="Upload" id="sbmtUserProfile" style="display:none;" />
                            </div>
                        </form>
                        <div class="ca-profile-title">
                            <h2 class="ca-profile-name">@Html.DisplayFor(modelitem => modelitem.UserName)</h2>
                        </div>
                    </div>
                    <div class="ca-profile-actions" style="padding-right: 10px; padding-top: 3px;">
                        <div class="iconbox-group">
                            <!--<div class="iconbox btn-hovered-light">
                                <form method="post" enctype="multipart/form-data" asp-controller="Chat" asp-action="UpdateProfilePicture">
                                    @Html.HiddenFor(m => m.UserId)
                                    <img id="imgUserProfile" class="img-fluid image" src="~/lib/images/icon/icons8-camera-20.png" alt="">
                                    <input type="file" name="Files" id="uplodfile" style="display: none;" />-->
                            @*<img id="imgUserProfileEdit" class="img-fluid image" src="~/lib/images/icon/icons8-camera-20.png" alt="">*@
                            @*<i class="iconbox__icon mdi mdi-pencil-outline" id="UserProfileEdit"></i>*@
                            @*<input type="file" name="Files" id="FUserProfile" />*@
                            <!--</form>
                            </div>-->
                            @*<form method="post" enctype="multipart/form-data" asp-controller="Chat" asp-action="UpdateProfilePicture">
                                    @Html.HiddenFor(m => m.UserId)
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <input type="file" name="files" multiple id="FUserProfile" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <input class="btn-Save-Cancel" type="submit" value="Upload" id="sbmtUserProfile" />
                                        </div>
                                    </div>
                                </form>*@
                            <i class="mdi mdi-close" id="icnCancelimgUpld"></i>

                        </div>
                    </div>
                    <div class="ca-overlay"></div>
                </div>

                <div class="profile-settings-list">
                    <form method="post" data-ajax="true" data-ajax-complete="editComplete" data-ajax-success="editSuccess" data-ajax-failure="editFail" asp-action="EditProfile" asp-controller="Chat">
                        <div class="setting-sunheading pl-2">Personal Information&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="btn-Save-Cancel" value="Save Changes" id="btnEditProfile" /></div>

                        @Html.HiddenFor(model => model.UserId)
                        @Html.HiddenFor(model => model.Email)
                        <ul class="list-unstyled">
                            <li>
                                <div class="ps-list">
                                    <div class="ps-list__left">
                                        <div class="ps-list__left--icon"><i class="mdi mdi-gender-male-female"></i></div>
                                        <div class="ps-list__left--name">Gender</div>
                                    </div>
                                    <div class="ps-list__right">
                                        @if (Model.Gender == "Female")
                                        {
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(model => model.Gender, "Male", new { @name = "gender", @checked = "false" })
                                                Male
                                            </label>

                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(model => model.Gender, "Female", new { @name = "gender", @checked = "true" })
                                                Female
                                            </label>
                                        }
                                        else
                                        {
                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(model => model.Gender, "Male", new { @name = "gender", @checked = "true" })
                                                Male
                                            </label>

                                            <label class="radio-inline">
                                                @Html.RadioButtonFor(model => model.Gender, "Female", new { @name = "gender", @checked = "false" })
                                                Female
                                            </label>
                                        }
                                    </div>
                                </div>

                            </li>
                            <li>
                                <div class="ps-list">
                                    <div class="ps-list__left">
                                        <div class="ps-list__left--icon"><i class="mdi mdi-cake"></i></div>
                                        <div class="ps-list__left--name">Birth date</div>
                                    </div>
                                    @{ var BirthDate = Convert.ToDateTime(Model.BirthDate).ToString("MM/dd/yyyy"); }
                                    @{ var NewBirthDate = Convert.ToDateTime(Model.BirthDate).ToString("yyyy-MM-dd"); }
                                    <input type="hidden" id="birthDateHdn" value="@NewBirthDate">
                                    <div class="ps-list__right">@Html.TextBoxFor(modelitem => modelitem.BirthDate, "{0:dd/MM/yyyy}", new { @id = "hdnBirthDate", @type = "date", @class = "form-control" })</div>
                                </div>
                            </li>
                            <li>
                                <div class="ps-list">
                                    <div class="ps-list__left">
                                        <div class="ps-list__left--icon"><i class="mdi mdi-cellphone-android"></i></div>
                                        <div class="ps-list__left--name">Mobile number</div>
                                    </div>
                                    <div class="ps-list__right">@Html.TextBoxFor(modelitem => modelitem.MobileNumber, new { @class = "form-control" })</div>
                                </div>
                            </li>
                            <li>
                                <div class="ps-list">
                                    <div class="ps-list__left">
                                        <div class="ps-list__left--icon"><i class="mdi mdi-email-outline"></i></div>
                                        <div class="ps-list__left--name">Email</div>
                                    </div>
                                    <div class="ps-list__right">@Html.DisplayFor(modelitem => modelitem.Email, new { @class = "form-control" })</div>
                                </div>
                            </li>
                            <li>
                                <div class="ps-list">
                                    <div class="ps-list__left">
                                        <div class="ps-list__left--icon"><i class="mdi mdi-at"></i></div>
                                        <div class="ps-list__left--name">Website</div>
                                    </div>
                                    <div class="ps-list__right">www.demo.com</div>
                                </div>
                            </li>

                        </ul>

                    </form>
                    @using (Html.BeginForm("ChatHome", "Chat", FormMethod.Post))
                    {
                        <div class="setting-sunheading pl-2 py-4">
                            Social Network

                            <div class="iconbox btn-hovered-light">
                                <i class="iconbox__icon mdi mdi-pencil-outline" id="iconEdit"></i>
                            </div>
                            <input type="submit" class="btn-Save-Cancel" value="Save" id="btnSave" />
                            <input type="button" class="btn-Save-Cancel" value="Cancel" id="btnCancel" />
                        </div>
                        @Html.HiddenFor(m => m.UserId)
                        <ul class="list-unstyled">
                            <li>
                                <div class="ps-list">
                                    <div class="ps-list__left">
                                        <div class="ps-list__left--icon"><i class="mdi mdi-facebook"></i></div>
                                        <div class="ps-list__left--name">Facebook</div>
                                    </div>
                                    <div class="ps-list__right">@Html.TextBoxFor(e => e.Facebook, new { @class = "form-control", id = "txtUserFB" })<span id="spnUserFB">@Html.DisplayFor(modelitem => modelitem.Facebook)</span> </div>
                                </div>
                            </li>
                            <li>
                                <div class="ps-list">
                                    <div class="ps-list__left">
                                        <div class="ps-list__left--icon"><i class="mdi mdi-instagram"></i></div>
                                        <div class="ps-list__left--name">Instagram</div>
                                    </div>
                                    <div class="ps-list__right">@Html.TextBoxFor(e => e.Instagram, new { @class = "form-control", id = "txtUserIG" })<span id="spnUserIG">@Html.DisplayFor(modelitem => modelitem.Instagram)</span></div>
                                </div>
                            </li>
                            <li>
                                <div class="ps-list">
                                    <div class="ps-list__left">
                                        <div class="ps-list__left--icon"><i class="mdi mdi-snapchat"></i></div>
                                        <div class="ps-list__left--name">Snapchat</div>
                                    </div>
                                    <div class="ps-list__right">@Html.TextBoxFor(e => e.Snapchat, new { @class = "form-control", id = "txtUserSC" })<span id="spnUserSC">@Html.DisplayFor(modelitem => modelitem.Snapchat)</span></div>
                                </div>
                            </li>
                            <li>
                                <div class="ps-list">
                                    <div class="ps-list__left">
                                        <div class="ps-list__left--icon"><i class="mdi mdi-twitter"></i></div>
                                        <div class="ps-list__left--name">Twitter</div>
                                    </div>
                                    <div class="ps-list__right">@Html.TextBoxFor(e => e.Twitter, new { @class = "form-control", id = "txtUserTWR" })<span id="spnUserTWR">@Html.DisplayFor(modelitem => modelitem.Twitter)</span></div>
                                </div>
                            </li>

                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function editComplete() {
        /*alert("Profile Updated Successfully!");*/
    }
    function editSuccess(data) {
        alert("Profile Updated Successfully!");
    }
    function editFail(data) {
        alert("Hey " + data + ", OOPS! Something Went wrong");
    }

    $("#imgUserProfile").click(function () {
        $("#uplodfile").click();
    });

    $("#uplodfile").change(function () {
        var file = $(this).val();
        document.getElementById("profilephotoform").submit();
        //$("#fname").text(file);
    });
</script>

<script>
    $(document).ready(function () {
        $('#hdnBirthDate').val($('#birthDateHdn').val());
        //$('.datepicker').datepicker();

        //$("#BirthDate").datepicker();
        $("#btnSave").hide();
        $("#btnCancel").hide();

        $("#txtUserFB").hide();
        $("#txtUserIG").hide();
        $("#txtUserSC").hide();
        $("#txtUserTWR").hide();

        $("#iconEdit").click(function () {
            $("#btnSave").show();
            $("#btnCancel").show();
            $("#iconEdit").hide();

            $("#spnUserFB").hide();
            $("#spnUserIG").hide();
            $("#spnUserSC").hide();
            $("#spnUserTWR").hide();

            $("#txtUserFB").show();
            $("#txtUserIG").show();
            $("#txtUserSC").show();
            $("#txtUserTWR").show();
        });

        $("#btnCancel").click(function () {
            $("#btnSave").hide();
            $("#btnCancel").hide();
            $("#iconEdit").show();

            $("#spnUserFB").show();
            $("#spnUserIG").show();
            $("#spnUserSC").show();
            $("#spnUserTWR").show();

            $("#txtUserFB").hide();
            $("#txtUserIG").hide();
            $("#txtUserSC").hide();
            $("#txtUserTWR").hide();
        });

        $("#FUserProfile").hide();
        $("#icnCancelimgUpld").hide();
        $("#sbmtUserProfile").hide();
        $("#imgUserProfileEdit").click(function () {
            $("#imgUserProfileEdit").hide();
            $("#FUserProfile").show();
            $("#icnCancelimgUpld").show();
            $("#sbmtUserProfile").show();
        });

        $("#icnCancelimgUpld").click(function () {
            $("#imgUserProfileEdit").show();
            $("#FUserProfile").hide();
            $("#icnCancelimgUpld").hide();
            $("#sbmtUserProfile").hide();
        });
    });
</script>

<style type="text/css">
    .btn-Save-Cancel {
        background: #007bff;
        border-radius: 5px;
        color: white;
        padding: 3px 6px;
        border: 0px;
    }

        .btn-Save-Cancel:hover {
            background-color: #4cacff;
        }

    input {
        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        border-bottom-style: hidden;
    }

    .well {
        margin-top: 20px;
    }

    h1 {
        margin-top: 0;
        font-size: 22px;
    }

    .date-range {
        margin: auto;
        text-align: center;
    }

        .date-range > div {
            display: inline-block;
            margin: 10px;
        }

    p {
        text-align: right;
        margin-bottom: 0;
    }

    .is-selected {
        background-color: #286090;
        color: white;
    }

        .is-selected:hover {
            background-color: #204d74 !important;
        }

    .is-between {
        border-radius: 0 !important;
        background-color: #5599d4;
        color: white;
    }

        .is-between:hover {
            background-color: #204d74 !important;
        }

    .checkin-picker .active,
    .checkout-picker .is-selected {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .checkout-picker .active,
    .checkin-picker .is-selected {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .disabled {
        color: #d8d8d8 !important;
    }
</style>

@*<script src="~/lib/vendors/jquery/jquery-3.4.1.min.js"></script>
    <script src="~/lib/bootstrap.bundle.min.js"></script>
    <script src="~/lib/vendors/material-floating-button/dist/mfb.min.js"></script>
    <script src="~/lib/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/lib/vendors/OwlCarousel2/owl.carousel.min.js"></script>
    <script src="~/lib/js/app.js"></script>*@
